@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'tobias';
    src: url(../Assets/Fonts/Tobias-Light.woff2);
}
@font-face {
    font-family: 'untitled';
    src: url(../Assets/Fonts/UntitledSansWeb-Regular.woff2);
}


:root{
    --box-width: 1300px;
    --full-width: 100%;

    --primary-font: 'tobias';
    --secondary-font: 'untitled';
}

@media (max-width: 1024px){
    :root{
        --box-width: 100%;
    }
}
.tobias{
    font-family: var(--primary-font);
}
.untitled{
    font-family: var(--secondary-font);
}
.montserrat{
    font-family: "Montserrat";
}

header a .nav-ball{
    transform: translateX(-100%);
    opacity: 0;
    transition: all ease 0.4s;
}
header a:hover .nav-ball{
    transform: translateX(0%);
    opacity: 1;
}
header a.active .nav-ball{
    transform: translateX(0%);
    opacity: 1;
}

.hero-section-1{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../Assets/Media/hero-section-1-bg.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero-1-bottom-right button{
    transition: all ease 0.3s;
    cursor: pointer;
}
.hero-1-bottom-right button::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: all ease 0.5s;
}
.hero-1-bottom-right button span{
    position: relative;
    z-index: 5;
}
.hero-1-bottom-right button:hover{
    color: #120902;
}
.hero-1-bottom-right button:hover::after{
    transform: translate(-50%, -50%) scale(1);
}

.hero-2-marquee h1{
    transform: rotate(-90deg);
}


footer{
    background: url(../Assets/Media/footer-bg.webp);
    background-size: cover;
    background-position: center;
}
footer .footer-top button{
    transition: all ease 0.3s;
    cursor: pointer;
}
footer .footer-top button::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: all ease 0.5s;
}
footer .footer-top button:hover::after{
    transform: translate(-50%, -50%) scale(1)
}
footer .footer-top button:hover{
    color: #120902;
}

@media (max-width: 1024px){
    .hero-2-marquee h1{
        transform: rotate(0deg);
    }
}


.marquee-wrapper .icon-box{
    box-shadow: inset 0 -3px 1px #0000001a;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.marquee-container::before{
    content: "";
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, #fff, transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.marquee-container::after{
    content: "";
    height: 100%;
    width: 20%;
    background: linear-gradient(to left, #fff, transparent);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
}
.marquee-track {
  display: flex;
  gap: 20px;
}

.icon-box {
  flex-shrink: 0;
}


.work-main {
    position: relative;
  }
  
  .work-main .work-card:first-child{
    top: 50px !important;
  }
  .work-card {
    position: sticky;
    top: calc(65px * var(--i));
    background-size: 105%;
    background-position: center;
    transition: background-size 1s ease;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
  }

  
  /* Zoom effect on hover */
  .work-card:hover {
    background-size: 110% !important;
  }
  
  /* Content overlay */
  .work-card .work-content {
    background: linear-gradient(to bottom, rgba(200, 142, 87, 0.2), #000);
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  
  .work-card:hover .work-content {
    opacity: 1;
  }
  
  /* Fade-in text on hover */
  .work-card .work-content h1,
  .work-card .work-content p {
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .work-card:hover .work-content h1 {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.1s;
  }
  
  .work-card:hover .work-content p {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.25s;
  }  
@media (max-width: 1024px){
    .work-card .work-content{
        opacity: 1;
    }
    .work-card .work-content h1,
    .work-card .work-content p{
        opacity: 1 !important;
        transform: translateY(0) !important;
    }
}


  .detail-mask-img-container{
    mask-image: url(/Assets/Media/mark.svg);
    mask-size: 55%;
    mask-position: center;
    mask-repeat: no-repeat;
  }